*{padding: 0;margin: 0;}
.login-wrap{background: #324157;}
.header{background: #242f42;}
.content{
	background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom: 0;
    width: auto;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: scroll;
}